USE [master]
GO
/****** Object:  Database [thuedi]    Script Date: 3/14/2022 5:27:11 PM ******/
CREATE DATABASE [thuedi]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [thuedi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [thuedi]
GO
/****** Object:  Table [dbo].[Bookmark]    Script Date: 3/14/2022 5:27:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookmark](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Post_id] [int] NOT NULL,
	[User_id] [int] NOT NULL,
 CONSTRAINT [PK_BOOKMARK] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[District]    Script Date: 3/14/2022 5:27:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[District](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Area_review] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Image_URL] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_DISTRICT] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Post]    Script Date: 3/14/2022 5:27:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[User_id] [int] NOT NULL,
	[Create_date] [datetime] NOT NULL,
	[Title] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Detail] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Price] [int] NOT NULL,
	[Area] [float] NOT NULL,
	[Number_of_bedrooms] [int] NOT NULL,
	[Number_of_restrooms] [int] NOT NULL,
	[Direction] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Address] [int] NOT NULL,
	[Address_detail] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Property_type_id] [int] NOT NULL,
	[Accept_covid_patient] [bit] NOT NULL,
 CONSTRAINT [PK_POST] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Post_comment]    Script Date: 3/14/2022 5:27:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post_comment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Post_id] [int] NOT NULL,
	[Comment] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[User_id] [int] NOT NULL,
	[Create_date] [datetime] NOT NULL,
 CONSTRAINT [PK_POST_COMMENT] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Post_image]    Script Date: 3/14/2022 5:27:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post_image](
	[Post_id] [int] NOT NULL,
	[Image] [image] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Post_image] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Post_report]    Script Date: 3/14/2022 5:27:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post_report](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Post_id] [int] NOT NULL,
	[User_id] [int] NOT NULL,
	[Detail] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Date] date NOT NULL,
	[Status] [nvarchar](255),
 CONSTRAINT [PK_POST_REPORT] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Property_type]    Script Date: 3/14/2022 5:27:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Property_type](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
 CONSTRAINT [PK_PROPERTY_TYPE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 3/14/2022 5:27:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
 CONSTRAINT [PK_ROLE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sub_district]    Script Date: 3/14/2022 5:27:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sub_district](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[District_id] [int] NOT NULL,
	[Area_review] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_SUB_DISTRICT] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 3/14/2022 5:27:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Password] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Role_id] [int] NOT NULL,
	[Create_date] [datetime] NOT NULL,
	[Is_deleted] [bit] NOT NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_detail]    Script Date: 3/14/2022 5:27:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_detail](
	[User_Id] [int] NOT NULL,
	[Name] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Phone] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Image_link] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Personal_id] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Contacts] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[District] ON 

INSERT [dbo].[District] ([Id], [Name], [Area_review], [Image_URL]) VALUES (3, N'Ba Đình', N'Một trong những quận trung tâm nhất của Hà Nội không thể bỏ qua quận Ba Đình, mang tên một trận đánh lớn đã đi vào lịch sử Việt Nam nay là một phần cốt lõi của thủ đô. Là Trung tâm hành chính – chính trị quốc gia, là cầu nối với các quận vệ tinh liền kề như Tây Hồ, Long Biên, Đống Đa, Hoàn Kiếm.', N'https://cloud.mogi.vn/review/thumb-medium/districts/290.jpg')
SET IDENTITY_INSERT [dbo].[District] OFF
GO
SET IDENTITY_INSERT [dbo].[Post] ON 

INSERT [dbo].[Post] ([Id], [User_id], [Create_date], [Title], [Detail], [Price], [Area], [Number_of_bedrooms], [Number_of_restrooms], [Direction], [Address], [Address_detail], [Property_type_id], [Accept_covid_patient]) VALUES (6, 3, CAST(N'2022-02-12T00:00:00.000' AS DateTime), N'Nhà siêu đẹp', N'asdfasdf', 123, 42, 1, 1, N'2', 17, N'số 11', 3, 0)
INSERT [dbo].[Post] ([Id], [User_id], [Create_date], [Title], [Detail], [Price], [Area], [Number_of_bedrooms], [Number_of_restrooms], [Direction], [Address], [Address_detail], [Property_type_id], [Accept_covid_patient]) VALUES (7, 3, CAST(N'2022-02-12T00:00:00.000' AS DateTime), N'Nhà siêu đẹp', N'asdfasdf', 123123, 42, 1, 1, N'2', 17, N'số 11', 3, 0)
INSERT [dbo].[Post] ([Id], [User_id], [Create_date], [Title], [Detail], [Price], [Area], [Number_of_bedrooms], [Number_of_restrooms], [Direction], [Address], [Address_detail], [Property_type_id], [Accept_covid_patient]) VALUES (8, 3, CAST(N'2022-02-12T00:00:00.000' AS DateTime), N'Nhà siêu đẹp', N'asdfasdf123', 123452314, 42, 1, 1, N'2', 17, N'số 11', 3, 0)
SET IDENTITY_INSERT [dbo].[Post] OFF
GO
SET IDENTITY_INSERT [dbo].[Post_image] ON 

SET IDENTITY_INSERT [dbo].[Post_image] OFF
GO
SET IDENTITY_INSERT [dbo].[Property_type] ON 

INSERT [dbo].[Property_type] ([Id], [Name]) VALUES (1, N'Nhà')
INSERT [dbo].[Property_type] ([Id], [Name]) VALUES (2, N'Chung cư')
INSERT [dbo].[Property_type] ([Id], [Name]) VALUES (3, N'Phòng Trọ')
SET IDENTITY_INSERT [dbo].[Property_type] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Id], [Name]) VALUES (1, N'admin')
INSERT [dbo].[Role] ([Id], [Name]) VALUES (2, N'user')
INSERT [dbo].[Role] ([Id], [Name]) VALUES (3, N'landlord')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Sub_district] ON 

INSERT [dbo].[Sub_district] ([Id], [Name], [District_id], [Area_review]) VALUES (1, N'Đại Kim', 1, NULL)
INSERT [dbo].[Sub_district] ([Id], [Name], [District_id], [Area_review]) VALUES (2, N'Định Công', 1, NULL)
INSERT [dbo].[Sub_district] ([Id], [Name], [District_id], [Area_review]) VALUES (3, N'Giáp Bát', 1, NULL)
SET IDENTITY_INSERT [dbo].[Sub_district] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([id], [Email], [Password], [Role_id], [Create_date], [Is_deleted]) VALUES (3, N'tuan@gmail.com', N'4297f44b13955235245b2497399d7a93', 1, CAST(N'2022-02-09T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[User] ([id], [Email], [Password], [Role_id], [Create_date], [Is_deleted]) VALUES (6, N'tuan2@gmail.com', N'4297f44b13955235245b2497399d7a93', 2, CAST(N'2022-02-09T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[User] ([id], [Email], [Password], [Role_id], [Create_date], [Is_deleted]) VALUES (7, N'tuan1@gmail.com', N'4297f44b13955235245b2497399d7a93', 3, CAST(N'2022-02-17T00:00:00.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
INSERT [dbo].[User_detail] ([User_Id], [Name], [Phone], [Image_link], [Personal_id], [Contacts]) VALUES (3, N'Le Tuan', N'0972536780', N'https://i.ytimg.com/vi/-v29otXMMCs/maxresdefault.jpg', N'184389693', N'hehe')
INSERT [dbo].[User_detail] ([User_Id], [Name], [Phone], [Image_link], [Personal_id], [Contacts]) VALUES (7, N'Nguyen sy tuan', N'0855068490', N'', N'', N'')
INSERT [dbo].[User_detail] ([User_Id], [Name], [Phone], [Image_link], [Personal_id], [Contacts]) VALUES (8, N'Nguyen sy tuan', N'01255068490', N'', N'', N'')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__A9D1053460133202]    Script Date: 3/14/2022 5:27:11 PM ******/
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [UQ__User__A9D1053460133202] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__User_det__206D9171E771B245]    Script Date: 3/14/2022 5:27:11 PM ******/
ALTER TABLE [dbo].[User_detail] ADD  CONSTRAINT [UQ__User_det__206D9171E771B245] UNIQUE NONCLUSTERED 
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User_det__5C7E359E8363EC8B]    Script Date: 3/14/2022 5:27:11 PM ******/
ALTER TABLE [dbo].[User_detail] ADD  CONSTRAINT [UQ__User_det__5C7E359E8363EC8B] UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Post] ADD  CONSTRAINT [DF_Post_Accept_covid_patient]  DEFAULT ((0)) FOR [Accept_covid_patient]
GO
ALTER TABLE [dbo].[Bookmark]  WITH CHECK ADD  CONSTRAINT [Bookmark_fk0] FOREIGN KEY([Post_id])
REFERENCES [dbo].[Post] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bookmark] CHECK CONSTRAINT [Bookmark_fk0]
GO
ALTER TABLE [dbo].[Bookmark]  WITH CHECK ADD  CONSTRAINT [FK_Bookmark_User] FOREIGN KEY([User_id])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Bookmark] CHECK CONSTRAINT [FK_Bookmark_User]
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [FK_Post_Property_type] FOREIGN KEY([Property_type_id])
REFERENCES [dbo].[Property_type] ([Id])
GO
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [FK_Post_Property_type]
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [FK_Post_Sub_district] FOREIGN KEY([Address])
REFERENCES [dbo].[Sub_district] ([Id])
GO
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [FK_Post_Sub_district]
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [Post_fk0] FOREIGN KEY([User_id])
REFERENCES [dbo].[User] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [Post_fk0]
GO
ALTER TABLE [dbo].[Post_comment]  WITH CHECK ADD  CONSTRAINT [FK_Post_comment_User] FOREIGN KEY([User_id])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Post_comment] CHECK CONSTRAINT [FK_Post_comment_User]
GO
ALTER TABLE [dbo].[Post_comment]  WITH CHECK ADD  CONSTRAINT [Post_comment_fk0] FOREIGN KEY([Post_id])
REFERENCES [dbo].[Post] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Post_comment] CHECK CONSTRAINT [Post_comment_fk0]
GO
ALTER TABLE [dbo].[Post_image]  WITH CHECK ADD  CONSTRAINT [Post_image_fk0] FOREIGN KEY([Post_id])
REFERENCES [dbo].[Post] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Post_image] CHECK CONSTRAINT [Post_image_fk0]
GO
ALTER TABLE [dbo].[Post_report]  WITH CHECK ADD  CONSTRAINT [FK_Post_report_User] FOREIGN KEY([User_id])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Post_report] CHECK CONSTRAINT [FK_Post_report_User]
GO
ALTER TABLE [dbo].[Post_report]  WITH CHECK ADD  CONSTRAINT [Post_report_fk0] FOREIGN KEY([Post_id])
REFERENCES [dbo].[Post] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Post_report] CHECK CONSTRAINT [Post_report_fk0]
GO
ALTER TABLE [dbo].[Sub_district]  WITH CHECK ADD  CONSTRAINT [FK_Sub_district_District] FOREIGN KEY([District_id])
REFERENCES [dbo].[District] ([Id])
GO
ALTER TABLE [dbo].[Sub_district] CHECK CONSTRAINT [FK_Sub_district_District]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [User_fk0] FOREIGN KEY([Role_id])
REFERENCES [dbo].[Role] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [User_fk0]
GO
ALTER TABLE [dbo].[User_detail]  WITH CHECK ADD  CONSTRAINT [User_detail_fk0] FOREIGN KEY([User_Id])
REFERENCES [dbo].[User] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[User_detail] CHECK CONSTRAINT [User_detail_fk0]
GO
USE [master]
GO
