<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>UnicodeFilter</filter-name>
        <filter-class>Filter.UnicodeFilter</filter-class>
    </filter>
    <welcome-file-list>
        <welcome-file>LandingPage</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>RequireUserFilter</filter-name>
        <filter-class>Filter.RequireUserFilter</filter-class>
    </filter>
    <filter>
        <filter-name>RequireLandlordFilter</filter-name>
        <filter-class>Filter.RequireLandlordFilter</filter-class>
    </filter>
    <filter>
        <filter-name>RequireAdminFilter</filter-name>
        <filter-class>Filter.RequireAdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>PostAuthorizeFilter</filter-name>
        <filter-class>Filter.PostAuthorizeFilter</filter-class>
    </filter>
    <error-page>
        <error-code>403</error-code>
        <location>/WEB-INF/403.html</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/404.html</location>
    </error-page>
    <filter-mapping>
        <filter-name>UnicodeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RequireAdminFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RequireLandlordFilter</filter-name>
        <url-pattern>/Landlord/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RequireUserFilter</filter-name>
        <url-pattern>/User/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PostAuthorizeFilter</filter-name>
        <url-pattern>/Landlord/DeletePost</url-pattern>
    </filter-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
